* {
    box-sizing: border-box;}

.container {
    width: 1440px;
    height: 865px;
    background-image: url(/assets/main.png);
    color: white;
}

.flex_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    padding-left: 100px;
}

nav {
    display: inline-flex;
    width: 1000px;
    height: 300x;
    padding-left: 75px;

}
li {
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;
    font-family: 'Jost', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.main_1 {
    margin-top: 173px;
    margin-left: 100px;
    width: 821px;
    height: 173px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
}

.main_2 {
    margin-left: 110px;
    width: 789px;
    height: 105px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 40px;
}
